body#checkout section.checkout-step .payment-options .payment-option {
    margin-bottom: 0.8rem;
}

body#checkout section.checkout-step .payment-options .payment-option img {
    width: 80px;
}

.openpay-bitcoin-container {
    border: 1px solid #d6d4d4;
    border-radius: 4px;
    color: #333;
    display: block;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 23px;
    padding: 0px 40px 30px 40px;
    position: relative;
    background: #fff;
    text-align: center;
}

.openpay-form-container {
    border: 1px solid #d6d4d4;
    border-radius: 4px;
    color: #333;
    display: block;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 23px;
    padding: 0px 40px 30px 40px;
    position: relative;
/*    background: #fbfbfb;*/
}

div.payment_module{
    margin-bottom: 10px;
}

.openpay-form-container small{
    font-weight: normal;
    font-size: 14px;
}

.openpay-form-container label{
    font-weight: normal;
    font-size: 14px;
}

.openpay_title{
    margin-top: 0px;
}

.openpay_title img { float: none; margin-right: 8px; margin-top: -2px; vertical-align: middle; }
#openpay-payment-form label { display: inline-block; margin-bottom: 4px; text-transform: uppercase; }
#openpay-payment-form label.lowercase { text-transform: none; }
#openpay-payment-form input[type="text"], #openpay-payment-form select, #openpay-payment-form input[type="password"]{
    border: #CCCCCC solid 1px; margin-bottom: 15px;
    padding: 10px 60px 10px 10px;
    height: 45px;
    background: #fff !important;
}

div.openpay-payment-errors {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #900;
	font-size: 13px;
	background: #FCC;
	display: none;
}

#openpay-translations, #openpay-ajax-loader { display: none; }
a#openpay_error { display: none; }

.store-image img{
    max-width: 100%;
}

.mt30{
    margin-top: 30px;
}

.mt10{
    margin-top: 10px;
}

.mt20{
    margin-top: 20px;
}

.mb30{
    margin-bottom: 30px;
}

.mb20{
    margin-bottom: 20px;
}

.mb10{
    margin-bottom: 10px;
}

#openpay-payment-form .form-control{
    color: #000;
}

.popover{
    font-weight: normal !important;
    font-size: 12px;
}

.center{
    text-align: center;
}

.subtitle{
    font-size: 20px;
}

.disabled{
    cursor: not-allowed;
}

.payment-method{
    border-right: 1px solid #ccc;
}

.payment-method:last-child{
    border-right: none;
}

.payment-method h4{
    font-size: 17px;
}

#payment-method-container {
    border: 1px solid #d6d4d4;
    border-radius: 4px;
    color: #333;
    display: block;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 23px;
    padding: 20px;
    position: relative;
    background: #fbfbfb;
}

/*.openpay-payment-module a.openpay::after{
    color: #777;
    content: "ï”";
    display: block;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    margin-top: -11px;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 14px;
}*/

.openpay-payment-module a {
    border: 1px solid #d6d4d4;
    border-radius: 4px;
    color: #333;
    display: block;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 23px;
    padding: 20px 40px 20px 20px;
    position: relative;
    background: #fbfbfb none repeat scroll 0 0;
}

.openpay-payment-module a:hover, .openpay-payment-module a:active{
    background: #f6f6f6;

}

.openpay-payment-module a:link,
.openpay-payment-module a:hover,
.openpay-payment-module a:active,
.openpay-payment-module a:visited{
    text-decoration: none;
}

.openpay-payment-module i{
    font-size: 40px;
    vertical-align: middle;
    margin-right: 10px;
    color: #B8B8B8;
}

.openpay-payment-module a span {
    color: #777;
    font-weight: bold;
}

.openpay-total{
    font-size: 2em;
    font-weight: bold;
    margin-top: 10px;
}

/*################  REBRANDING ####################*/
.openpay-form-container small > a{
    color: #0063A8;
}

.openpay-form-container small > a:hover{
    color: #0063A8;
    text-decoration: underline;
}

.openpay-form-container p{
    text-align: justify;
}

.openpay-form-container h4.blue_subtitle{
    text-align: center;
}

.openpay-form-container p,
.openpay-form-container h4.blue_subtitle{
    color: #0063A8;
    font-weight: 600;
}

.steps img{
    margin-bottom: 1.2em;
}

@media only screen and (max-width: 767px) {
    .steps img{
        width: 60%;
    }
}

@media only screen and (min-width: 992px) {
    .steps div{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .steps div > img{
        width: 18%;
        margin-right: 1em;
    }
}
/*###############################################*/
