<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>openpayprestashop</name>
    <displayName><![CDATA[Openpay]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[Accept payments by credit-debit card, cash payments and via SPEI with Openpay]]></description>
    <author><![CDATA[Openpay SAPI de CV]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <confirmUninstall>Warning: all the Openpay transaction details saved in your database will be deleted. Are you sure you want uninstall this module?</confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
